<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">works</a></li>
            <li><a href="/favorates">favorates</a></li>
        </ul>
    </nav>
</header>