<%- include('./partials/head.ejs')  %>
<%- include('./partials/nav.ejs')  %>
<section id="about">
    <h2>About Me</h2>
    
    <p>Hello! I am abolfazl, a passionate web developer in backend . I love creating server for websites</p>
</section>
<%- include('./partials/footer.ejs')  %>