<%- include('./partials/head.ejs')  %>
<%- include('./partials/nav.ejs')  %>
<section id="favorates">
    <h2>favorates</h2>
    <div class="project">
        <h3>node js</h3>
      
        <p>i really enjoy coding node js </p>
    </div>
    <div class="project">
        <h3>hang out</h3>
       
        <p>i like to go outside with my friends</p>
    </div>
    <!-- Add more projects as needed -->
</section>
<%- include('./partials/footer.ejs')  %>