<%- include('./partials/head.ejs')  %>
<%- include('./partials/nav.ejs')  %>

<section id="projects">
    <h2>Projects</h2>
    <div class="project">
        <h3>web server project</h3>
      
        <p>made by node js,express,ejs,css</p>
    </div>
    <div class="project">
        <h3>login form</h3>
       
        <p>coming soon...</p>
    </div>
    
</section>

<%- include('./partials/footer.ejs')  %>